/* src/assets/fonts/fonts.css */

/* Import fonts */
@font-face {
    font-family: "OB";
    src: url("./TTF/OffBitTrial-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "OBbold";
    src: url("./TTF/OffBitTrial-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "OB101";
    src: url("./TTF/OffBitTrial-101.ttf") format("truetype");
    font-weight: 101;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "OB101bold";
    src: url("./TTF/OffBitTrial-101Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "OBdot";
    src: url("./TTF/OffBitTrial-Dot.ttf") format("truetype");
    font-weight: normal;
    font-style: swap;
  }
  
  @font-face {
    font-family: "OBdotbold";
    src: url("./TTF/OffBitTrial-DotBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "HemVar";
    src: url("./TTF/frag.otf") format("truetype");
    font-weight: normal;

    font-display: swap;
  }
  
  

  @font-face {
    font-family: "fragGlare";
    src: url("./TTF/fragGlare.otf") format("truetype");
    font-weight: normal;

    font-display: swap;
  }
  

  @font-face {
    font-family: "fragReg";
    src: url("./TTF/fragReg.otf") format("truetype");
    font-weight: normal;

    font-display: swap;
  }
  
  
  @font-face {
    font-family: "fragGlareli";
    src: url("./TTF/fragGlareLi.otf") format("truetype");
    font-weight: normal;

    font-display: swap;
  }

  @font-face {
    font-family: "larken";
    src: url("./TTF/LarkenDEMO-Regular.otf") format("truetype");
    font-weight: normal;

    font-display: swap;
  }