/* src/components/CustomCursor.css */

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 7.5px;
    height: 7.5px;
    background-color: rgba(187, 134, 252, 0.9); /* Purple color */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 10000; 
    mix-blend-mode: difference; 
  }
  
  .custom-cursor.cursor-hover {
    transform: translate(-50%, -50%) scale(4);
    border-radius: 40%;
  }


