
.ascii-art-container {
    position: relative;
    z-index: 10000; 
  }
  
  .ascii-art-item {
    position: absolute;
    font-family: monospace; 
    font-size: 14px; 
    color: #000; 
    user-select: none;
    z-index: 100000;
  }
  

  #ascii-art-1 {
    top: 64%;
    left: 0%;
    font-size: 8px;
  }

  /* cupid */
  #ascii-art-2 {
    top: 66.4%;
    left: 68%;
    font-size:12px;
  }

  /*big bath painting */
  #ascii-art-3 {
    top: 68%;
    left: 58%;
    font-size: 7px;
  }
  
  #ascii-art-4 {
    top: 64.5%;
    left: 10%;
    font-size: 12px;

  }
  
  #ascii-art-5 {
    top: 63.3%;
    left: 20%;
    font-size: 8px;
  }
  
  #ascii-art-6 {
    top: 65.3%;
    left: 65%;
    font-size: 8px;
  }
  
  #ascii-art-7 {
    top: 68.2%;
    left: 0%;
    font-size: 8px;
  }


  /* bike */
  #ascii-art-8 {
    top: 62.4%;
    left: 60%;
    font-size: 10px
  }

  #ascii-art-9 {
    top: 63.4%;
    left: 70%;
    font-size: 6px;
  }

  #ascii-art-10 {
    top: 67.5%;
    left: 35%;
    font-size: 6px;
  }
  
  #ascii-art-11 {
    top: 62%;
    left: 15%;
    font-size: 7px;
  }
    
  #ascii-art-12 {
    top: 64%;
    left: 50%;
    font-size: 15px;
  }
  
    /* robot */
  #ascii-art-13 {
    top: 65%;
    left: 45%;
    font-size: 7px;
  }

  #ascii-art-14 {
    top: 66%;
    left: 0%;
    font-size: 15px;
  }
  

  #ascii-art-15 {
    top: 69%;
    left: 20%;
    font-size: 9px;
  }

  #ascii-art-16 {
    top: 69.4%;
    left: 60%;
    font-size: 9px;
  }

  #ascii-art-17 {
    top: 70.5%;
    left: 40%;
    font-size: 9px;
  }

    #ascii-art-18 {
    top: 70.4%;
    left: 15%;
    font-size: 8px;
  }

  #ascii-art-19 {
    top: 70.4%;
    left: 65%;
    font-size: 12px;
  }

  #ascii-art-20 {
    top: 71.9%;
    left: 65%;
    font-size: 12px;
  }

  #ascii-art-21 {
    top: 71.8%;
    left: 10%;
    font-size: 12px;
  }

  #ascii-art-22 {
    top: 72.2%;
    left: 39%;
    font-size: 8px;
  }

  #ascii-art-23 {
    top: 73.1%;
    left: 69%;
    font-size: 8px;
  }
  
  #ascii-art-24 {
    top: 73.2%;
    left: 10%;
    font-size: 6px;
  }
  #ascii-art-25 {
    top: 74%;
    left: 50%;
    font-size: 5px;
  }
  #ascii-art-26 {
    top: 74.5%;
    left: 70%;
    font-size: 8px;
  }
  #ascii-art-27 {
    top: 74.5%;
    left: 20%;
    font-size: 8px;
  }
  
  
  #ascii-art-28 {
    top: 74.9%;
    left: 44%;
    font-size: 8px;
  }
  #ascii-art-29 {
    top: 75.8%;
    left: 7%;
    font-size: 8px;
    font-weight: 10000;
  }
  
  #ascii-art-30 {
    top: 76.5%;
    left: 7%;
    font-size: 8px;

  }
  #ascii-art-31 {
    top: 76.28%;
    left: 70%;
    font-size: 5px;

  }

  #ascii-art-32 {
    top: 76.4%;
    left: 40%;
    font-size: 6px;

  }
  
  
  #ascii-art-33 {
    top: 54.9%;
    left: 20%;
    font-size: 6px;

  }
  
  #ascii-art-34 {
    top: 56.3%;
    left: 70%;
    font-size: 6px;

  }

  #ascii-art-35 {
    top: 58.3%;
    left: 28%;
    font-size: 7px;

  }
  #ascii-art-36 {
    top: 60.4%;
    left: 73%;
    font-size: 4px;

  }

  #ascii-art-37 {
    top: 60.4%;
    left: 13%;
    font-size: 14px;

  }

  #ascii-art-38 {
    top: 61.4%;
    left: 55%;
    font-size: 5px;

  }

  #ascii-art-39 {
    top: 78%;
    left: 15%;
    font-size: 6px;

  }
  #ascii-art-40 {
    top: 77.2%;
    left: 26%;
    font-size: 6px;

  }

  #ascii-art-41 {
    top: 82.68%;
    left: 2%;
    font-size: 6px;

  }

  #ascii-art-42 {
    top: 77.2%;
    left:50%;
    font-size: 10px;
font-weight: 100;
  }
  
  #ascii-art-43 {
    top: 77.8%;
    left:81.8%;
    font-size: 6px;
font-weight: 100;
  }

  #ascii-art-44 {
    top: 78.7%;
    left:4%;
    font-size: 5px;
font-weight: 100;
  }
  #ascii-art-45 {
    top: 79.3%;
    left:7%;
    font-size: 8px;
font-weight: 100;
  }
  #ascii-art-46 {
    top: 77.1%;
    left:3%;
    font-size: 8px;
font-weight: 100;
  }
  #ascii-art-47 {
    top: 75.1%;
    left:3%;
    font-size: 8px;
font-weight: 100;
  }

  #ascii-art-48 {
    top: 79.8%;
    left:80%;
    font-size: 8px;
font-weight: 100;
  }

  #ascii-art-49 {
    top: 80.3%;
    left:18%;
    font-size: 12px;
font-weight: 100;
  }

  #ascii-art-50 {
    top: 80.8%;
    left:54%;
    font-size: 13px;
font-weight: 100;
  }


  #ascii-art-51 {
    top: 80%;
    left:45%;
    font-size: 8px;
font-weight: 100;
  }

  #ascii-art-52 {
    top: 81.8%;
    left:3%;
    font-size: 6px;
font-weight: 100;
  }

  #ascii-art-53 {
    top: 82%;
    left:30%;
    font-size: 6px;
font-weight: 100;
  }

  #ascii-art-54 {
    top: 80.5%;
    left:5%;
    font-size: 6px;
font-weight: 100;
  }

  #ascii-art-55 {
    top: 82.7%;
    left:83%;
    font-size: 6px;
font-weight: 100;
  }

  #ascii-art-56 {
    top: 82.7%;
    left:26.2%;
    font-size: 16px;
font-weight: 100;
  }

  #ascii-art-57 {
    top: 83.4%;
    left:15%;
    font-size: 12px;
font-weight: 100;
  }
  #ascii-art-58 {
    top: 84.7%;
    left: -7%;
    font-size: 12px;
font-weight: 100;
transform: rotate(90deg);
  }

  #ascii-art-59 {
    top: 85.95%;
    left:15%;
    font-size: 12px;
font-weight: 100;
  }

  #ascii-art-60 {
    top: 84.7%;
    left: 62%;
    font-size: 12px;
font-weight: 100;
transform: rotate(90deg);
  }

  #ascii-art-61 {
    top: 83.7%;
    left:27%;
    font-size: 8px;
font-weight: 100;
  }