
.ascii-art-container {
    position: relative;
    z-index: 10000; 
  }
  
  .ascii-art-item {
    position: absolute;
    font-family: monospace; 
    font-size: 14px; 
    color: #000; 
    user-select: none;
  }
  

  #ascii-art-1 {
    top: 64%;
    left: 0%;
    font-size: 8px;
  }

  /* cupid */
  #ascii-art-2 {
    top: 66.4%;
    right: 20%;
    font-size:12px;
  }

  /*big bath painting */
  #ascii-art-3 {
    top: 68%;
    left: 58%;
    font-size: 7px;
  }
  
  #ascii-art-4 {
    top: 64.5%;
    right: 70%;
    font-size: 12px;

  }
  
  #ascii-art-5 {
    top: 63.3%;
    left: 20%;
    font-size: 8px;
  }
  
  #ascii-art-6 {
    top: 65.3%;
    left: 65%;
    font-size: 8px;
  }
  
  #ascii-art-7 {
    top: 68.2%;
    left: 0%;
    font-size: 8px;
  }


  /* bike */
  #ascii-art-8 {
    top: 62.4%;
    left: 60%;
    font-size: 10px
  }

  #ascii-art-9 {
    top: 63.4%;
    right: 40%;
    font-size: 6px;
  }

  #ascii-art-10 {
    top: 67.5%;
    right: 55%;
    font-size: 6px;
  }
  
  #ascii-art-11 {
    top: 62%;
    right: 65%;
    font-size: 7px;
  }
    
  #ascii-art-12 {
    top: 64%;
    left: 50%;
    font-size: 15px;
  }
  
    /* robot */
  #ascii-art-13 {
    top: 65%;
    left: 45%;
    font-size: 7px;
  }

  #ascii-art-14 {
    top: 66%;
    right: 60%;
    font-size: 15px;
  }
  

  #ascii-art-15 {
    top: 69%;
    right: 60%;
    font-size: 9px;
  }

  #ascii-art-16 {
    top: 69.4%;
    left: 60%;
    font-size: 9px;
  }

  #ascii-art-17 {
    top: 70.5%;
    left: 40%;
    font-size: 9px;
  }

    #ascii-art-18 {
    top: 70.4%;
    left: 15%;
    font-size: 8px;
  }

  #ascii-art-19 {
    top: 70.4%;
    left: 65%;
    font-size: 12px;
  }

  #ascii-art-20 {
    top: 71.9%;
    left: 65%;
    font-size: 12px;
  }

  #ascii-art-21 {
    top: 71.8%;
    left: 10%;
    font-size: 12px;
  }

  #ascii-art-22 {
    top: 72.2%;
    left: 39%;
    font-size: 8px;
  }

  #ascii-art-23 {
    top: 73.1%;
    left: 69%;
    font-size: 8px;
  }
  
  #ascii-art-24 {
    top: 73.2%;
    left: 10%;
    font-size: 6px;
  }
  #ascii-art-25 {
    top: 74%;
    left: 50%;
    font-size: 5px;
  }
  #ascii-art-26 {
    top: 74.5%;
    left: 70%;
    font-size: 8px;
  }
  #ascii-art-27 {
    top: 74.5%;
    left: 20%;
    font-size: 8px;
  }
  
  
  #ascii-art-28 {
    top: 74.9%;
    left: 44%;
    font-size: 8px;
  }
  #ascii-art-29 {
    top: 75.8%;
    left: 7%;
    font-size: 8px;
    font-weight: 10000;
  }
  
  #ascii-art-30 {
    top: 76.5%;
    left: 7%;
    font-size: 8px;

  }
  #ascii-art-31 {
    top: 76.28%;
    left: 70%;
    font-size: 5px;

  }

  #ascii-art-32 {
    top: 76.4%;
    left: 40%;
    font-size: 6px;

  }
  
  
  #ascii-art-33 {
    top: 53.4%;
    left: 20%;
    font-size: 6px;

  }
  
  #ascii-art-34 {
    top: 55.9%;
    left: 70%;
    font-size: 6px;

  }

  #ascii-art-35 {
    top: 58.3%;
    left: 28%;
    font-size: 7px;

  }
  #ascii-art-36 {
    top: 60.4%;
    left: 73%;
    font-size: 4px;

  }

  #ascii-art-37 {
    top: 60.4%;
    left: 13%;
    font-size: 14px;

  }

  #ascii-art-38 {
    top: 61.4%;
    left: 55%;
    font-size: 5px;

  }
  
  
/* Relative Container for Positioning */
.image-container {
    position: relative; /* Make this the positioning context */
    width: 500px;
    height: 300px;
    background-color: #f9f9f9;
  }
  
  /* Individual Images */
  .image1 {
    position: absolute;
    top: 90%;
    left: 10px;
    width: 300px;
    height: auto;
  }
  
  .image2 {
    position: absolute;
    top: 89%;
    left: 150px;
    width: 300px;
    height: auto;
  }
  
  .image3 {
    position: absolute;
    bottom: 10%;
    right: 10px;
    width: 300px;
    height: auto;
  }
  .image4 {
    position: absolute;
    bottom: 9%;
    right: 196px;
    width: 290px;
    height: auto;
  }
  .image5 {
    position: absolute;
    bottom: 11%;
    right: 500px;
    width: 290px;
    height: auto;
  }  
  .image6 {
    position: absolute;
    bottom: 8.3%;
    right: 400px;
    width: 270px;
    height: auto;
  }
  .image7 {
    position: absolute;
    bottom: 7.3%;
    right: 750px;
    width: 240px;
    height: auto;
  }